<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		table{
			padding: 1.2rem;
		}
	</style>
</head>
<body>
	<h3>{{ header_message }}</h3>
	<table class="table">
		<tr>
			<td>Name</td>
			<td>{{ name }}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{ email }}</td>
		</tr>
		<tr>
			<td>Sub</td>
			<td>{{ subject|default_if_none:"" }}</td>
		</tr>
		<tr>
			<td>Message</td>
			<td>{{ message }}</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>{{ date }}</td>
		</tr>
	</table>
</body>
</html>