{% extends 'components/base.html' %}
{% block title %}reviews{% endblock %}
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
{% block content %}
<div id="content" class="yui3-g">
<div id="main-column" class="yui3-u-2-3">
	{% if messages %}
     {% for message in messages %}
   	   <h2 class="text-center">{{ message }}</h2>
   {% endfor %}
  {% endif %}
	<div id="main-column-content" class="content">
		<div class="postlist">
			<h1>Reviews</h1>
			{% for review in reviews %}
			<div class="reviewItem">
				<p></p>
				<p>{{ review.review_body }}</p>
				<div class="text-right">
					<strong>{{ review.name }}</strong>
				</div>
				{% if review.book_title %}
				<div class="text-right">
					book:<strong>{{ review.book_title }}</strong>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<br><br>
		<div id="contactDiv">
			<div id="formresponse" class="code0"></div>
				<form method="post" id="contactform" name="contactform">
					{% csrf_token %}
					<dl>
						<dt>
							<label for="name">Name <span class="note">(required)</span></label>
						</dt>
						<dd data-children-count="1">
							<input class="required" type="text" name="name" id="name" value="" required>
						</dd>
					</dl>
					<dl>
						<dt>
							<label for="email">Email <span class="note">(required)</span></label>
						</dt>
						<dd data-children-count="1">
							<input class="required" type="email" name="email" id="email" value="" required><span id="emailCheckResult"></span>
						</dd>
					</dl>
					<dl>
						<dt>
							<label for="subject">Book Title <span class="note">(required)</span></label>
						</dt>
						<dd data-children-count="1">
							<select name="book_title" id="subject" class="required">
								<option value="">General</option>
							{% for book in books %}
								<option value="{{ book.pk }}">{{ book.name }}</option>
							{% endfor %}
							</select>
						</dd>
					</dl>
					<dl>
						<dt>
							<label for="message">Write a book review <span class="note">(required)</span></label>
						</dt>
						<dd data-children-count="1">
							<textarea class="required" name="review_body" id="message" required=""></textarea>
						</dd>
					</dl>
					<script src="https://www.google.com/recaptcha/api.js" async defer></script>
					<dl>
						<div class="g-recaptcha" data-sitekey="6Lei5EwbAAAAAEtRa-607fX3HXvtx8XCssPqOlnN"></div>
					</dl>
					<div class="contact-submit">
						<br>
						<input type="submit" name="send" value="Submit" id="submitBtn">
					</div>
				</form><br>
			</div>
		</div>
	</div>
</div><!--content-->
   {% endblock %}