{% extends 'accounts/baseAccount.html' %}
{% block title %}
	View review
{% endblock %}

{% block content %}
<div class="container">
	<table class="table text-center" style="margin-top: 50px;">
		<tr>
			<td>date</td>
			<td>{{ review.date }}</td>
		</tr>
		<tr>
			<td>Reviewer name</td>
			<td>{{ review.name }}</td>
		</tr>
		<tr>
			<td>email</td>
			<td>{{ review.email }}</td>
		</tr>
		<tr>
			<td>Book</td>
			<td>{{ review.book_title }}</td>
		</tr>
		<tr>
			<td>Review</td>
			<td>{{ review.review_body }}</td>
		</tr>
	</table>
</div>
{% endblock %}