{% extends 'components/base.html' %}
{% block content %}
<style>
	form{
		letter-spacing: normal;
		word-spacing: normal;
	}
	ul{
		margin: 0px;
	}
</style>
<form method="post" class="text-center">
	{% csrf_token %}
	{{ form.errors }}
	<div class="passworddivision">
		<input type="password" name="new_password1" placeholder="Enter new password" required>
	</div>
	<div class="passworddivision">
		<input type="password" name="new_password2" placeholder="Confirm new password" required>
	</div>
	
	<input type="submit" class="btn btn-outline-danger" value="Change my password">
</form>
{% endblock %}