{% extends 'components/base.html' %}
{% block content %}
<style>
	.container{
		letter-spacing: normal;
		word-spacing: normal;
		padding-top: 50px;
		padding-bottom: 50px;
		border-radius: 20px;
	}
</style>
<div class="container text-center">
	<h2 class="text-center">A confirmation email has been sent</h2>
	<p class="text-center">Please check you email and click the link to change your password</p>
	<p class="text-center">If you don't recieve the mail. Please make sure that you account has been verfied.</p>
	<p class="text-center">If the mail is not present, please check your spam folder</p>
	<a href="/login">Back to sign in</a>
</div>

{% endblock %}




<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>password reset mail sent</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.container{
			background-color: lightblue;
			position: fixed;
			top:40%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding-top: 50px;
			padding-bottom: 50px;
			border-radius: 20px;
		}
	</style>
</head>
<body>
	<div class="container text-center">
		<h1><i class="fa fa-envelope"></i></h1>
		<h2>A confirmation email has been sent</h2>
		<p>Please check you email and click the link to change your password</p>
		<p>If the mail is not present, please check your spam folder</p>
		<a href="/">Back to sign in</a>
	</div>
</body>
</html> -->