{% extends 'components/base.html' %}
{% block content %}
<style>
	h2, h4{
		letter-spacing: normal;
		word-spacing: normal;
		margin: 0px;
		text-align: center;
	}
</style>
<br><br>
<h2>The password reset is done</h2>
<br><br>
<h4 style="text-align: center;"><a href="/login">login</a></h4><br>
{% endblock %}