{% extends 'components/base.html' %}
{% block content %}
<style>
	h2, h4{
		letter-spacing: normal;
		word-spacing: normal;
	}
	h4{
		text-align: center;
	}
</style>
<div class="card container text-center mt-5" style="background-color: transparent;">
		<div class="card-header">
			<h4>Reset Password</h4>
		</div>
		<div class="card-body mt-10">
			<form method="post">
				{% csrf_token %}
				<input type="email" name="email" class="form-control" placeholder="current email" required>
				<br>
				<input type="submit" class="btn btn-success" value="send email">
			</form>
		</div>

	</div>
{% endblock %}