{% extends 'components/base.html' %}
{% block content %}

<div id="content" class="yui3-g">
    <div id="main-column" class="yui3-u-2-3">
        <table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr valign="top">
                <td valign="top">
                    <form method="post">
                        <table border="0" align="center" cellpadding="0" cellspacing="0">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                            <h2 class="text-center">{{ message }}</h2>
                        {% endfor %}
                        {% endif %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">                          
                            <tbody><tr>
                                <td width="38" height="10"> </td>
                                <td height="10"> </td>
                                <td width="36" height="10"> </td>
                            </tr>
                            <tr>
                                <td width="38"> </td>
                                <td valign="middle">
                                    <span style="color:red"></span>
                                    <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr class="pagestyle12px">
                                            <td>
                                                Email :
                                            </td>
                                            <td data-children-count="1">
                                                <input type="text" name="email" required>
                                            </td>
                                        </tr>
                                        <tr class="pagestyle12px">
                                            <td>
                                                Password :
                                            </td>
                                            <td data-children-count="1">
                                                <input type="password" name="password" required>
                                            </td>
                                        </tr>
                                        
                                        <tr class="pagestyle12px">
                                            <td align="center" colspan="2"><input type="submit" name="" value="Login">
                                                <a href="{% url 'login:register' %}"><input type="button" name="" value="Register"></a></td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                    <td width="36"></td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td colspan="2">
                                        <a href="{% url 'reset_password' %}">Forgot password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="38" height="10"></td>
                                    <td height="10"></td>
                                    <td width="36" height="10"></td>
                                </tr>
                            </tbody></table>
                        </form>
                        {% if request.GET.next %}
                        <h3 class="text-center" style="margin: 0px;">OR</h3>
                        <tr class="text-center">
                            <td colspan="2">
                                <form action="{% url 'MyProfile:shippingdetails' %}">
                                    <input type="hidden" name="bookpath" value="{{ request.GET.next }}">
                                    <button href="" class="btn btn-primary" style="color: white;">Continue as guest</button>
                                </form>
                            </td>
                        </tr>   
                        {% endif %}
                        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
                            <tbody><tr>
                                <td width="100%" height="10">&nbsp; </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div>
   {% endblock %}