{% extends 'components/base.html' %}
{% block content %}
<style>
    h1{
        letter-spacing: normal;
        word-spacing: normal;
        margin: 0;
        text-align: center;
    }
</style>
<br><br><br>
<div style="margin-top: 100px; margin-bottom: 100px;">
<h1 style="font-size: 25px;">{{ message }}</h1>
</div>
<br><br><br>

{% endblock %}