{% extends 'components/base.html' %}
{% block content %}



<div id="content" class="yui3-g">
    <div id="main-column" class="yui3-u-2-3">
        <table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr valign="top">
                <td valign="top">
                    <form method="post">
                        {% if messages %}
                        {% for message in messages %}
                            <h3 style="text-align: center; font-size: 24px;">{{ message }}</h3>
                        {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <table border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td width="38" height="10"> </td>
                                <td height="10"> </td>
                                <td width="36" height="10"> </td>
                            </tr>
                            <tr>
                                <td width="38"> </td>
                                <td valign="middle">
                                    <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr><td><span style="color:red"></span></td></tr>
                                            <tr class="pagestyle12px">
                                                <td>
                                                    <span style="color:red">*</span>First name :
                                                </td>
                                                <td data-children-count="1">
                                                    <input id="first_name" type="text" name="first_name" required>
                                                </td>
                                            </tr>
                                            <tr class="pagestyle12px">
                                                <td>
                                                    <span style="color:red">*</span>Last name :
                                                </td>
                                                <td data-children-count="1">
                                                    <input id="last_name" type="text" name="last_name" required>
                                                </td>
                                            </tr>
                                            <tr class="pagestyle12px">
                                                <td>
                                                    <span style="color:red">*</span>Email :
                                                </td>
                                                <td data-children-count="1">
                                                    <input id="email" type="email" name="email" required>
                                                </td>
                                            </tr>
                                            <tr class="pagestyle12px">
                                                <td>
                                                    <span style="color:red">*</span>Password :
                                                </td>
                                                <td data-children-count="1">
                                                    <input id="password" type="password" name="password" required>
                                                </td>
                                            </tr>
                                            <tr class="pagestyle12px">
                                                <td>
                                                    <span style="color:red">*</span>Confirm Password :
                                                </td>
                                                <td data-children-count="1">
                                                    <input id="confirm_password" type="password" name="confirm_password" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr class="pagestyle12px">
                                                <td align="center" colspan="2"><input type="submit" name="" value="Submit"></td>
                                            </tr>
                                        </tbody></table>

                                    </td>
                                    <td width="36"></td>
                                </tr>
                                <tr>
                                    <td width="38" height="10"></td>
                                    <td height="10"></td>
                                    <td width="36" height="10"></td>
                                </tr>
                            </tbody></table>
                        </form>
                        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
                            <tbody><tr>
                                <td width="100%" height="10">&nbsp; </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
   {% endblock %}