{% extends 'components/base.html' %}
{% block content %}

<div id="content" class="yui3-g">
    <div id="main-column" class="yui3-u-2-3">
        <table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr valign="top">
                <td valign="top">
                    <form method="post" class="text-center">
                        <table border="0" align="center" cellpadding="0" cellspacing="0">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                            <h2 class="text-center">{{ message }}</h2>
                        {% endfor %}
                        {% endif %}
                        <input type="hidden" name="link" value="{{ request.get_full_path }}">
                        <a href="{{ url }}" class="btn btn-success">request</a>
                        <tr><td></td></tr>
                        <!-- <tr><td><input type="submit" name="" value="Request new link"></td></tr> -->
                    </td>
                        </form>
                        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
                            <tbody><tr>
                                <td width="100%" height="10">&nbsp; </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </div>
   {% endblock %}