{% extends 'components/base.html' %}
{% block title %}checkout{% endblock %}
{% block content %}
<br>
{% include 'MyProfile/profileNav.html' %}

<style>
	table{
		letter-spacing: normal;
		word-spacing: normal; 
		margin-top: 50px;
		text-align: center;
		font-weight: bold; 
	}
</style>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Book</th>
			<th>type</th>
			<th>quantity</th>
			<th>price</th>
			<th>tax</th>
			<th>shipping</th>
		</tr>
	</thead>
	{% for item in cartitems %}
	<tr>
		<td>{{ item.product }}</td>
		<td>{{ item.itemtype }} </td>
		<td>{{ item.quantity }}</td>
		<td>${{ item.getprice }}</td>
		<td>${{ item.gettax }}</td>
		<td>${{ item.getshipping }}</td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan="6">
			<a href="{% url 'MyProfile:selectaddress' %}" class="btn btn-success" style="color: white;">Proceed to Pay</a>
		</td>
	</tr>
</table>
{% endblock %}