{% extends 'components/base.html' %}
{% block title %}profile{% endblock %}
{% block content %}
<br>
{% include 'MyProfile/profileNav.html' %}
<div id="content" class="yui3-g">
	<div id="main-column" class="yui3-u-2-3">
		<div id="main-column-content" class="content">
			<h2 class="text-center"> welcome {{ request.user.email }}</h2>
			<form method="post" style="text-align: center;">
				{% csrf_token %}
				<input type="text" placeholder="First name" style="width: 80%;" value="{{ request.user.first_name }}" name="first_name">
				<input type="text" placeholder="Last name" style="width: 80%;" value="{{ request.user.last_name }}" name="last_name">
				<input type="submit" style="width: 50%;">
			</form>
		</div>
	</div>
</div>
{% endblock %}