{% extends 'components/base.html' %}
{% block title %}cart{% endblock %}
{% block content %}
<br>
{% include 'MyProfile/profileNav.html' %}

<style>
	table{
		margin-top: 50px;
		text-align: center;
	}
	.fixspace{
		letter-spacing: normal;
		word-spacing: normal
	}
	input[type=number]{
		width: 40%;
		margin: auto;
		padding: 0.2rem;
	}
</style>
<div class="text-center fixspace mt-4">
{% if messages %}
	{% for message in messages %}
		<strong>{{ message }}</strong>
	{% endfor %}
{% endif %}
</div>

<table class="table fixspace">
	{% if cartitems %}
	<tr>
		<th>Product</th>
		<th>type</th>
		<th>Quantity</th>
		<th>added on</th>
	</tr>
	{% endif %}
{% for cartitem in cartitems %}
	<form action="{% url 'MyProfile:updatecart' %}" method="post">
	<tr>
		{% csrf_token %}
		<input type="hidden" name="pk" value="{{ cartitem.pk }}">
		<td>{{ cartitem.product }}</td>
		<td>{{ cartitem.itemtype }}</td>
		<td><input type="number" value="{{ cartitem.quantity }}" class="form-control" name="quantity" min="1" oninput="this.value = 
 !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null"></td>
		<td>{{ cartitem.date_added.date }}</td>
		<td>
			<input type="submit" class="btn" value="Update">
			<a href="{% url 'MyProfile:deletecartitem' cartitem.pk %}" class="btn btn-danger">Delete</a>
		</td>
	</tr>
	</form>
{% endfor %}
	{% if cartitems %}
	<tr>
		<td colspan="5">
			<a href="{% url 'books:index' %}" class="btn btn-secondary" style="color:white;">Add more Books</a>
			<a href="{% url 'MyProfile:checkout' %}" class="btn btn-success" style="color: white;">Checkout</a>
		</td>
	</tr>
	{% else %}
	<tr>
		<td><h3 style="text-align: center;">There are no items in your cart</h3></td>
	</tr>
	{% endif %}
</table>
{% endblock %}