{% extends 'components/base.html' %}
{% block title %}my orders{% endblock %}
{% block content %}
<br>
{% include 'MyProfile/profileNav.html' %}
<style>
	.fixspace{
		letter-spacing: normal;
		word-spacing: normal
	}
	table{
		margin-top: 50px;
		text-align: center;
	}
	h2{
		letter-spacing: normal;
		word-spacing: normal;
		 margin-top: 100px;
		 text-align: center;
		 font-size: 26px;
	}
</style>
<table class="table fixspace text-center">
	{% if myorders %}
	<thead>
		<tr>
			<td>Book</td>
			<td>type</td>
			<td>Quantity</td>
			<td>Date</td>
			<td></td>
		</tr>
	</thead>
	{% for order in myorders %}
	<tr>
		<td><a href="{% url 'MyProfile:vieworder' order.pk%}">{{ order.product }}</a></td>
		<td>{{ order.itemtype }}</td>
		<td>{{ order.quantity }}</td>
		<td>{{ order.date_ordered.date }}</td>
		{% if order.itemtype != 'paperback' %}
		<td>
			{% if order.itemtype == 'audio' %}
			<a href="{{ order.product.audio.url }}" class="btn btn-primary" style="color: white" download>Download</a>
			{% else %}
			<a href="{{ order.product.ebook.url }}" class="btn btn-primary" style="color: white" download>Download</a>
			{% endif %}
		</td>
		{% else %}
			{% if order.shipped_date %}
				<td>Shipped</td>
			{% else %}
				<td>Not Shipped</td>
			{% endif %}
		{% endif %}
	</tr>
	{% endfor %}
	{% else %}
		<h2>There are no orders present</h2>
	{% endif %}
</table>
{% endblock %}