{% extends 'components/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<style>
	.fix-readable{
		letter-spacing: normal;
		word-spacing: normal;
	}
	h1{
		text-align: center;
	}
</style>
<br>
<div class="fix-readable">
	<h1>Congratulations on your order</h1>
	<h1>Details have been sent in the email address provided by you</h1>
</div>
{% endblock %}