<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Order | Nicky</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://www.paypal.com/sdk/js?client-id=AR_K3HVWZEcQ-sRr03bDu2ho29SEoktIJCzxxhbl96K8d3lw5AqP1-knVXn3iQkgIN6gP8hhQXiBT128&currency=USD&disable-funding=card"></script>
</head>
<body class="bg-light text-center">
	<div class="container">
		<div class="py-5 text-center">
			<h2>Total ${{ total }}</h2>
		</div>
	</div>
	<table class="table table-borderless border">
		<tr>
			<th colspan="5">Summary</th>
		</tr>
		<tr>
			<td>Product name</td>
			<td>Quantity</td>
			<td>Type</td>
			<td>Price</td>
			<td>Tax</td>
			<td>Shipping</td>
			<td>Final Price</td>
		</tr>
		{% for cartitem in cartitems %}
		<tr>
			<td>{{ cartitem.product }}</td>
			<td>{{ cartitem.quantity }}</td>
			<td>{{ cartitem.itemtype }}</td>
			<td>${{ cartitem.getprice }}</td>
			<td>${{ cartitem.gettax }}</td>
			<td>${{ cartitem.getshipping }}</td>
			<td>${{ cartitem.calculatetotal }}</td>
		</tr>
		{% endfor %}
	</table>
	<div id="paypal-button-container"></div>
	{% csrf_token %}
	<div class="container d-none" id="transaction">
		<div class="alert alert-success" role="alert">
  			Transaction Successful
  			<br>
  			Please wait...
		</div>
	</div>
	<input type="hidden" id="shippingpk" value="{{ shippingpk }}">
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
	function completeOrder(){
		$.ajax({
			url:"/profile/paymentcomplete",
			type:'POST',
			data:{
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
				// shippingpk:$('#shippingpk').val(),
			},
			success:function(data) {
			}
		});
	}
	paypal.Buttons({
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: '{{ total }}'
					}
				}]
			});
		},
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				completeOrder()
				// alert('Transaction completed by ' + details.payer.name.given_name + '!');
				transaction = document.getElementById('transaction')
				transaction.classList.remove('d-none');
				{% if user.is_authenticated  %}
				setTimeout(function(){ window.location = '/profile/myorders' }, 3000);
				{% else %}
				setTimeout(function(){ window.location = '/profile/ordermessage' }, 3000);
				{% endif %}
			});
		}

	}).render('#paypal-button-container');
</script>
</html>
