<nav>
	<div id="" class="yui3-u-1">
		<ul id="mainnav" style="width: 100%">
			<li class="{% if request.path == '/profile/' %}active{% endif %}" style="width: 30%; ">
				<a href="{% url 'MyProfile:index' %}" title="Back to Homepage of Adventures of Nicky Book Series"><span><h5  style="text-align: center;">Profile</h5></span></a>
			</li>
			<li class="{% if request.path == '/profile/myorders' %}active{% endif %}" style="width: 30%;">
				<a href="{% url 'MyProfile:myorders' %}" title="Back to Homepage of Adventures of Nicky Book Series"><span><h5  style="text-align: center;">My Orders</h5></span></a>
			</li>
			<li class="{% if request.path == '/profile/cart' %}active{% endif %}" style="width: 30%; ">
				<a href="{% url 'MyProfile:cart' %}" title="Back to Homepage of Adventures of Nicky Book Series"><span><h5  style="text-align: center;">Cart</h5></span></a>
			</li>
			{% if request.user.is_admin %}
				<li class="" style="width: 30%;">
					<a href="{% url 'accounts:index' %}"><span><h5  style="text-align: center;">Dashboard</h5></span></a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>