<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Order | Nicky</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="bg-light">
	<div class="container text-center">
		{% if not addresses %}
			<br>
			<h3>No address present</h3>
			<!-- <h3>Click to add</h3> -->
		{% endif %}
		<a href="{% url 'MyProfile:shippingdetails' %}" class="btn btn-primary m-3">Create New Address</a>
	{% for address in addresses %}
	<table class="table border ">
		<thead class="table-dark">
		<tr>
			<td></td>
			<td>Billing</td>
			<td>Shipping</td>
		</tr>
		</thead>
		<tr>
			<td>First Name</td>
			<td>{{ address.billingFirstname }}</td>
			<td>{{ address.shippingFirstname }}</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td>{{ address.billingLastName }}</td>
			<td>{{ address.shippingLastName }}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{ address.billingEmail }}</td>
			<td>{{ address.shippingEmail }}</td>
		</tr>
		<tr>
			<td>Company</td>
			<td>{{ address.billingCompany }}</td>
			<td>{{ address.shippingCompany }}</td>
		</tr>
		<tr>
			<td>Address</td>
			<td>{{ address.billingAddress }}</td>
			<td>{{ address.shippingAddress }}</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>{{ address.billingPhone }}</td>
			<td>{{ address.shippingPhone }}</td>
		</tr>
		<tr>
			<td>Fax</td>
			<td>{{ address.billingFax }}</td>
			<td>{{ address.shippingFax }}</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>{{ address.billingLocation }}</td>
			<td>{{ address.shippingLocation }}</td>
		</tr>
		<tr>
			<td colspan="3">
				<a href="{% url 'MyProfile:shippingdetails' %}?address={{address.pk}}" class="btn btn-success">Use this address</a>
				<!-- <a href="{% url 'MyProfile:deleteaddress' address.pk %}" class="btn btn-danger">Delete address</a> -->
				<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'MyProfile:deleteaddress' address.pk %}','{{ address.shippingAddress }}')">Delete</button>
			</td>
		</tr>
	</table>
	<br>
	{% endfor %}
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% load static %}
{% include 'accounts/components/delete_modal.html' %}
<script src="{% static 'MyProfile/shipping.js' %}"></script>
</html>
