<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Order | Nicky</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="bg-light">
	<div class="container">
		<form method="post" class="text-center">
			<input type="hidden" name="shippingpk" value="{{ address.pk }}">
			{% csrf_token %}
			<div class="py-5 text-center">
				<h2>Billing and Shipping Details</h2>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<h4 class="mb-3 ">Billing information</h4>
					<br>
					<div class="row g-3">
						<input type="text" class="form-control" name="billingFirstname" placeholder="First name" maxlength="100" value="{{ address.billingFirstname }}" required>
						<input type="text" class="form-control" name="billingLastName" placeholder="Last name" maxlength="100" value="{{ address.billingLastName }}" required>
						<input type="email" class="form-control" name="billingEmail" placeholder="email" maxlength="200" value="{{ address.billingEmail }}" required>
						<input type="text" class="form-control" name="billingCompany" placeholder="company" maxlength="200" value="{{ address.billingCompany }}">
						<input type="text" class="form-control" name="billingAddress" placeholder="Address" value="{{ address.billingAddress }}" required>

						<input type="text" class="form-control" name="billingPhone" placeholder="Phone" value="{{ address.billingPhone }}" required>
						<input type="text" class="form-control" name="billingFax" placeholder="Fax" value="{{ address.billingFax }}">
						<select class="form-control" id="country_search">
							<option value="">--select country--</option>
							{% for country in countries%}
							<option value="{{ country.pk }}" {% if country.pk == address.billingLocation.state.country.pk %}selected{% endif %}>{{ country.countryname }}</option>
							{% endfor %}
						</select>
						<div style="border: 1px solid black; padding: 15px;">
							<select class="form-control" id="state_search">
								{% if address %}
								<option value="">{{ address.billingLocation.state }}</option>
								{% else %}
								<option value="">--select state--</option>
								{% endif %}
							</select><br>
							<select name="billingLocation" class="form-control" id="location_search" required>
								{% if address %}
								<option value="{{ address.billingLocation.pk }}" selected>{{ address.billingLocation }}</option>
								{% else %}
								<option value="">--select location--</option>
								{% endif %}
							</select>
							<h5 class="text-center">or</h5>
							<div class="input-group">
								<input type="number" class="form-control" id="pincode" placeholder="enter pincode">
								<button type="button" class="btn btn-outline-primary btn-sm" onclick="pincodeSearch()">Search</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<h4 class="mb-3">Shipping information</h4>
					<div class="form-check form-switch" style="text-align: left;">
						<input class="form-check-input" type="checkbox" id="shippingsamecheckbox">
						<label class="form-check-label" for="shippingsamecheckbox">Same as Billing</label>
					</div>	
					
					<div class="row g-3">
						<input type="text" class="form-control" name="shippingFirstname" placeholder="First name" maxlength="100" value="{{ address.shippingFirstname }}" required>
						<input type="text" class="form-control" name="shippingLastName" placeholder="Last name" maxlength="100" value="{{ address.shippingLastName }}" required>
						<input type="email" class="form-control" name="shippingEmail" placeholder="email" maxlength="200" value="{{ address.shippingEmail }}" required>
						<input type="text" class="form-control" name="shippingCompany" placeholder="company" value="{{ address.shippingCompany }}" maxlength="200">
						<input type="text" class="form-control" name="shippingAddress" placeholder="Address" value="{{ address.shippingAddress }}"  required>

						<input type="text" class="form-control" name="shippingPhone" placeholder="Phone" value="{{ address.shippingPhone }}" required>
						<input type="text" class="form-control" name="shippingFax" placeholder="Fax" value="{{ address.shippingFax }}">
						<select class="form-control" id="country_search_shipping">
							<option value="">--select country--</option>
							{% for country in countries%}
							<option value="{{ country.pk }}" {% if country.pk == address.shippingLocation.state.country.pk %}selected{% endif %}>{{ country.countryname }}</option>
							{% endfor %}
						</select>
						<div style="border: 1px solid black; padding: 15px;">
							<select class="form-control" id="state_search_shipping">
								{% if address %}
								<option value="">{{ address.shippingLocation.state }}</option>
								{% else %}
								<option value="">--select state--</option>
								{% endif %}
							</select><br>
							<select name="shippingLocation" class="form-control" id="location_search_shipping" required>
								{% if address %}
								<option value="{{ address.shippingLocation.pk }}" selected>{{ address.shippingLocation }}</option>
								{% else %}
								<option value="">--select location--</option>
								{% endif %}
							</select>
							<h5 class="text-center">or</h5>
							<div class="input-group">
								<input type="number" class="form-control" id="pincode_shipping" placeholder="enter pincode">
								<button type="button" class="btn btn-outline-primary btn-sm" onclick="pincodeSearchShipping()">Search</button>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-borderless border">
					<tr>
						<th colspan="5">Summary</th>
					</tr>
					<tr>
						<td>Product name</td>
						<td>Quantity</td>
						<td>Type</td>
						<td>Price</td>
						<td>Tax</td>
						<td>Shipping</td>
						<td>Final Price</td>
					</tr>
					{% for cartitem in cartitems %}
					<tr>
						<td>{{ cartitem.product }}</td>
						<td>{{ cartitem.quantity }}</td>
						<td>{{ cartitem.itemtype }}</td>
						<td>${{ cartitem.getprice }}</td>
						<td>${{ cartitem.gettax }}</td>
						<td>${{ cartitem.getshipping }}</td>
						<td>${{ cartitem.calculatetotal }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<input type="submit" class="btn btn-success">
		</form>
	</div>
	<br>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static 'MyProfile/shipping.js' %}"></script>
</html>
