{% extends 'components/base.html' %}
{% block content %}
<br>
{% include 'MyProfile/profileNav.html' %}
<style>
	*{
		letter-spacing: normal;
		word-spacing: normal
	}
	table{
		margin-top: 20px;
	}
</style>

<table class="table text-center">
	<tr>
		<td>Book</td>
		<td>{{ order.product }}</td>
	</tr>
	<tr>
		<td>item type</td>
		<td>{{ order.itemtype }}</td>
	</tr>
	<tr>
		<td>Quantity</td>
		<td>{{ order.quantity }}</td>
	</tr>
	<tr>
		<td>Price</td>
		<td>{{ order.price_total }}</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>{{ order.address.shippingAddress }}</td>
	</tr>
	<tr>
		<td>Location</td>
		<td>{{ order.address.billingLocation }}</td>
	</tr>
	{% if order.courier_details %}
	<tr>
		<td>Courier detail</td>
		<td>{{ order.courier_details }}</td>
	</tr>
	{% endif %}
	{% if order.shipped_date %}
	<tr>
		<td>Shipped Date</td>
		<td>{{ order.shipped_date }} </td>
	</tr>
	{% endif %}
	{% if order.itemtype != 'paperback' %}
	<tr>
		<td colspan="2">
			{% if order.itemtype == 'audio' %}
			<a href="{{ order.product.audio.url }}" class="btn btn-primary" style="color: white" download>Download</a>
			{% else %}
			<a href="{{ order.product.ebook.url }}" class="btn btn-primary" style="color: white" download>Download</a>
			{% endif %}
		</td>
	</tr>
	{% endif %}
</table>

{% endblock %}