<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ blogform.instance.title }}</title>
	<style>
		a{
			color: white;
			background-color: #0d6efd;
			padding: .375rem .75rem;
			font-size: 2rem;
			border-radius: .25rem;
		}
		*{
			text-align: center;
			font-size: 1.2rem;
			font-family: Brush Script MT, Cursive;
		}
	</style>
</head>
<body>
	<div style="margin-top: 10px;">
		<h3>Hi there is a new Blog in Adventures of nicky</h3>
		<h4>Check it out</h4>
		<a href="{{ domain }}">{{ blogform.instance.title }}</a>
	</div>
</body>
</html>