<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Verify Email address</title>
    <style>
    *{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 30px;
    }
    h1{
        background-color: silver;
        padding: 20px;
    }
    </style>
</head>
<body>
    <div class="my-container">
        <h1>Activate Account</h1><br>
        <h3>E-mail Confirmation</h3> <br>
        <hr>

        <p>
            <a href="{{link}}" class="btn btn-primary">
            Please verify your e-mail :
            </a>
        </p>
        <br>
        <h4>AdventuresofNicky.com</h4>
    </div>
   
</body>
</html>