<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load static %}
	<link href="{% static 'accounts/styles.css' %}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
	<div class="d-flex" id="wrapper">
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Nicky Dashboard</div>
			<div class="list-group list-group-flush">
				<a href="{% url 'accounts:index' %}" class="sidebar-list {% if request.path == '/accounts/' %}active{% endif %}">Author</a>
				<a href="{% url 'accounts:manageBlog' %}" class="sidebar-list {% if request.path == '/accounts/manage-blog' or '/blog/' in request.path %}active{% endif %}">Blog</a>
				<a href="{% url 'accounts:manageTaxes' %}" class="sidebar-list {% if request.path == '/accounts/manage-taxes' %}active{% endif %}">Taxes</a>
				<a href="{% url 'accounts:manageBooks' %}" class="sidebar-list {% if request.path == '/accounts/manage-books' %}active{% endif %}">Books</a>
				<a href="{% url 'accounts:manageReviews' %}" class="sidebar-list {% if request.path == '/accounts/manage-reviews' or '/reviews/' in request.path %}active{% endif %}">Reviews</a>
				<a href="{% url 'accounts:manageVideos' %}" class="sidebar-list {% if request.path == '/accounts/videos' %}active{% endif %}">Videos</a>
				<a href="{% url 'accounts:manageMessages' %}" class="sidebar-list {% if request.path == '/accounts/manage-messages' or '/contact/' in request.path %}active{% endif %}">Messages</a>
				<a href="{% url 'accounts:shipping' %}" class="sidebar-list {% if request.path == '/accounts/shipping'%}active{% endif %}">Shipping</a>
				<!-- <a href="{% url 'accounts:manageUsers' %}" class="sidebar-list {% if request.path == '/accounts/users'%}active{% endif %}">Users</a> -->
				<a href="{% url 'accounts:orders' %}" class="sidebar-list {% if request.path == '/accounts/orders' %}active{% endif %}">Orders</a>
				<a href="/" class="sidebar-list">Home</a>

			</div>
		</div>
		<i class="fa fa-bars text-right sidebar-icon" id="menu-toggle" style=""></i>
		<div id="page-content-wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	
</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<script>
		$("#menu-toggle").click(function(e) {
	  		e.preventDefault();
	  		$("#wrapper").toggleClass("toggled");
		});
  </script>
</html>