{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Reviews
{% endblock %}
{% block content %}
	<table class="table table-borderless text-center container">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Book</th>
				<th>View Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for review in reviews %}
			<tr>
				<td>
					<a href="{% url 'reviews:viewreview' review.pk %}">
					{{ review.name }}
					</a>
				</td>
				<td>{{ review.email }}</td>
				<td>{{ review.book_title }}</td>
				<td>
					<!-- <button class="btn btn-danger">Delete</button> -->
					<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'reviews:deletereview' review.pk %}','{{ review.name }}')">Delete</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'accounts/components/delete_modal.html' %}
{% endblock %}