{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Videos
{% endblock %}
{% block content %}
	<br>
	<table class="table text-center">
		<tr>
			<td colspan="3">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videosModal" onclick="editvideo(`{% url 'videos:addvideo' %}`,``,``,``)">
					Add Videos
				</button>
			</td>
		</tr>	
	{% for video in videos %}
		<tr>
			<td>{{ video.video_title }}</td>
			<td><a href="{{ video.video_thumbnail.url }}" target="_blank">thumbnail</a></td>
			<td>
				<button onclick="editvideo(`{% url 'videos:editvideo' video.pk %}`,`{{video.video_title}}`,`{{video.video_description|default_if_none:''}}`,`{{video.video_url}}`)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videosModal">Edit</button>
				<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'videos:deletevideo' video.pk %}','{{ video.video_title }}')">Delete</button>
			</td>
		</tr>
	{% endfor %}
	</table>
	{% include 'accounts/components/delete_modal.html' %}
	{% include 'accounts/components/videos_modal.html' %}
{% endblock %}