{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage author
{% endblock %}
{% block content %}
<div class="text-center">
	<div style="border: 1px solid black;">
	<table class="table table-borderless table-hover">
		<thead class="table-light">
			<tr>
				<th colspan="4"><h3>Social Media </h3></th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Title</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		{% for social in socials %}
		<tr>
			<td>{{ social.name }}</td>
			<td>{{ social.title }}</td>
			<td>
				{% if social.icon %}
					<a href="{{ social.icon.url }}" target='_blank'> current </a>
				{% else %}
					No icon present
				{% endif %}
			</td>
			<td>
				<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_modal_social" onclick="editsocialdata('{{social.pk}}','{{social.name}}','{{social.title}}','{{social.url}}')">Edit</button>
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'author:deletesocial' social.pk %}','{{ social.title }}')">
					Delete
				</button>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="4">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_modal_social" onclick="editsocialdata('','','','')">
					Add Social
				</button>
			</td>
		</tr>
	</table>
	</div>
	<br>
	<!-- <hr> -->
	<!-- <br> -->
	<div style="border: 1px solid black;">
		<div class="container">
		<h3>Author Content</h3>
		{% if authorform.instance.author_image %}
			<a href="{{ authorform.instance.author_image.url }}" target="_blank">current author image</a>
		{% endif %}
		<br>
		{{ authorform.media }}
		<form method="post" enctype="multipart/form-data" action="{% url 'author:addauthordetail' %}">
			{% csrf_token %}<br>
			<input type="file" name="author_image" accept="image/*" class="form-control"><br>
			<input type="email" name="review_mail" class="form-control" placeholder="email when review posted" value="{{ authorform.instance.review_mail|default:'' }}">
			<br>
			{{ authorform.description }}
			<input type="submit" class="btn btn-outline-success">
		</form>
		<p>Last updated: {{ authorform.instance.updated }}</p>
		</div>
	</div>
</div>
{% include 'accounts/components/add_modal_social.html' %}
{% include 'accounts/components/delete_modal.html' %}
{% endblock %}