{% extends 'accounts/baseAccount.html' %}
{% block title %}
	User Management
{% endblock %}
{% block content %}
	<table class="table">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>active</th>
			<th></th>
		</tr>
		{% for user in users %}
			<tr>
				<td>{{ user.first_name }}</td>
				<td>{{ user.last_name }}</td>
				<td>{{ user.email }}</td>
				<form method="post">
					{% csrf_token %}
					<input type="hidden" name="pk" value="{{ user.pk }}">
				<td><input type="checkbox" name="is_active" {% if user.is_active %}checked{% endif %}></td>
				<td><button class="btn btn-primary" style="color: #fff;">Update</button></td>
				</form>
			</tr>
		{% endfor %}
	</table>
{% endblock %}