{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Books
{% endblock %}
{% block content %}
<table class="table text-center container mt-2">
	<tr>
		<td colspan="2">
			<a href="{% url 'books:addbook' %}" class="btn btn-primary">Add Book</a>
		</td>
	</tr>
	{% for book in books %}
	<tr>
		<td>{{ book.name }}</td>
		<td>
			<a href="{% url 'books:editbook' book.slug %}" class="btn btn-primary">Edit</a>
			<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'accounts:deletebook' book.pk %}','{{ book.name }}')">Delete</button>
		</td>
	</tr>
	{% endfor %}
</table>
{% include 'accounts/components/delete_modal.html' %}
{% endblock %}