{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Taxes
{% endblock %}
{% block content %}
<br>
<center>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaxModal" onclick="edittax('','','','')">
		Add Tax
	</button>
</center><br>
<table class="table thead-dark text-center container">
	<thead>
		<tr>
			<th>Name</th>
			<th>Percentage</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	{% for tax in taxes %}
		<tr>
			<td>{{ tax.name }}</td>
			<td>{{ tax.percentage }}</td>
			<td>{{ tax.description }}</td>
			<td>
				<button class="btn btn-primary" onclick="edittax('{{ tax.pk }}','{{ tax.name }}','{{ tax.percentage }}','{{ tax.description }}')" data-bs-toggle="modal" data-bs-target="#addTaxModal">Edit</button>
				<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'accounts:deletetax' tax.pk %}','{{ tax.name }}')">Delete</button>
			</td>
		</tr>
	{% endfor %}
</table>
{% include 'accounts/components/add_tax_modal.html' %}
{% include 'accounts/components/delete_modal.html' %}
{% endblock %}