{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Orders
{% endblock %}
{% block content %}

<table class="table text-center">
	<thead>
		<tr>
			<td>Book</td>
			<td>type</td>
			<td>quantity</td>
			<td>Location</td>
			<td></td>
		</tr>
	</thead>
	<tr><td colspan="5"><h4>Pending</h4></td></tr>
	{% for order in orders %}
		{% if not order.completed %}
		<tr>
			<td>{{ order.product }}</td>
			<td>{{ order.itemtype }}</td>
			<td>{{ order.quantity }}</td>
			<td>{{ order.address.shippingLocation.city }}</td>
			<td><a href="{% url 'accounts:updateorder' order.pk %}" class="btn btn-primary">View/Update</a></td>
		</tr>
		{% endif %}
	{% endfor %}
</table>

<table class="table text-center">
	<tr><td colspan="5"><h4>Completed</h4></td></tr>
	{% for order in orders %}
		{% if order.completed %}
		<tr>
			<td>{{ order.product }}</td>
			<td>{{ order.itemtype }}</td>
			<td>{{ order.quantity }}</td>
			<td>{{ order.address.shippingLocation.city }}</td>
			<td><a href="{% url 'accounts:updateorder' order.pk %}" class="btn btn-primary">View/Update</a></td>
		</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock %}