{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Blog
{% endblock %}
{% block content %}
<div class="container text-center">
	<br><h2>Blog Management</h2><br>
	<a href="{% url 'blog:addBlogPost' %}" class="btn btn-info">Add Post</a><br>
	<table class="table">
		{% for blog in blogs %}
		<tr>
			<td><a href="{% url 'blog:viewblog' blog.slug %}" target="_blank">{{ blog.title }}</a></td>
			<td><a href="{% url 'blog:editBlogPost' blog.slug %}" class="btn btn-warning btn-sm">edit</a></td>
			<td>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'blog:deleteBlogPost' blog.slug %}','{{ blog.title }}')">
					Delete
				</button>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% include 'accounts/components/delete_modal.html' %}

{% endblock %}