{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Messages
{% endblock %}
{% block content %}
	<table class="table table-borderless text-center container">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>subject</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for message in messages %}
			<tr>
				<td>
					<a href="{% url 'contact:viewmessage' message.pk %}">
					{{ message.name }}
					</a>
				</td>
				<td>{{ message.email }}</td>
				<td>{{ message.subject }}</td>
				<td>
					<!-- <button class="btn btn-danger">Delete</button> -->
					<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'contact:deletemessage' message.pk %}','{{ message.subject }}')">Delete</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'accounts/components/delete_modal.html' %}
{% endblock %}