{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Shipping
{% endblock %}
{% block content %}

<div class="text-center p-3">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shippingmodal">
		Add Shipping
	</button>
</div>
<table class="table text-center container">
	<thead>
		<tr>
			<td>Single</td>
			<td>Additional</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		{% for shippingfee in shippingfees %}
		<tr>
			<td>{{ shippingfee.each }}</td>
			<td>{{ shippingfee.additional }} </td>
			<td>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shippingmodal" onclick="getshipping('{{shippingfee.pk}}','{{shippingfee.each}}','{{shippingfee.additional}}')">Edit</button>
				<!-- <button>Delete</button> -->
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodal('{% url 'accounts:deleteshipping' shippingfee.pk %}','{{ shippingfee.each }}')">
					Delete
				</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include 'accounts/components/add_shipping_modal.html' %}
{% include 'accounts/components/delete_modal.html' %}
{% endblock %}