{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Manage Orders
{% endblock %}
{% block content %}

<table class="table text-center container" style="margin-top: 50px">
	<tr>
		<td>Book</td>
		<td>{{ order.product }}</td>
	</tr>
	<tr>
		<td>Itemtype</td>
		<td>{{ order.itemtype }}</td>
	</tr>
	<tr>
		<td>Quantity</td>
		<td>{{ order.quantity }}</td>
	</tr>
	<tr>
		<td>Price Total</td>
		<td>${{ order.price_total }}</td>
	</tr>
	<tr>
		<td>Date Ordered</td>
		<td>{{ order.date_ordered.date }}</td>
	</tr>
	<tr>
		<td>Address details</td>
		<td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressModal">View Address</button></td>
	</tr>
	{% if order.itemtype == 'paperback' %}
	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="pk" value="{{ order.pk }}">
	<tr>
		<td>Courier Details</td>
		<td>
			<textarea name="courier_details" cols="30" rows="4" class="form-control" required>{{ order.courier_details|default_if_none:"" }}</textarea>
		</td>
	</tr>
	<tr>
		<td>Shipped Date</td>
		<td><input type="date" class="form-control" name="shipped_date" value="{{ order.shipped_date.date|date:'Y-m-d' }}" required></td>
	</tr>
	<tr>
		<td>completed</td>
		<td><input type="checkbox" name="completed" {% if order.completed %}checked{% endif %}></td>
	</tr>
	<tr>
		<td colspan="2"><button class="btn btn-success">Update</button></td>
	</tr>
	</form>
	{% endif %}
</table>
{% include 'accounts/components/addressviewmodal.html' %}
{% endblock %}