{% extends 'accounts/baseAccount.html' %}
{% block title %}
	Add Blog Post
{% endblock %}
{% block content %}
<style>
	input{
		margin: 10px;
	}
</style>
<form class="container text-center" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="text" placeholder="Blog title" class="form-control" name="title" value="{{ blogform.instance.title }}" maxlength="500" required>
	<input type="text" placeholder="blog description" class="form-control" name="description" value="{{ blogform.instance.description|default_if_none:'' }}" maxlength="600">
	{% if blogform.instance.post_image %}
		<a href="{{ blogform.instance.post_image.url }}" target="_blank">Current image</a>
		<br>
		<span>Choose Blog Image</span>
		<input type="file" accept="image/*" name="post_image">
	{% else %}
		<span>Choose Blog Image</span>
		<input type="file" accept="image/*" name="post_image" required>
	{% endif %}
	{{ blogform.post_content }}
	<input type="submit" class="btn btn-outline-success">
</form>
{% endblock %} 