{% extends 'components/base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
<div id="content" class="yui3-g">
	<div id="main-column" class="yui3-u-2-3">
		<div id="main-column-content" class="content">
			<div id="postlist" class="postlist">
				<div class="content">
					{% for blog in blogs %}
					<h4 class="time first">{{ blog.date.date }}</h4>
					<div id="NewsArchive-0" class="item clearfix">
						<div class="clearfix">
							<a href="{{ blog.slug }}" title="{{ blog.title }}" target="_blank">
								<img src="{{ blog.post_image.url }}" class="align-left thumbnail" alt="{{ blog.title }}">
							</a>
							<div class="post-hd">
								<h2><a href="{{ blog.slug }}" title="{{ blog.title }}" target="_blank">{{ blog.title }}</a></h2>
							</div>
							<p class="blurb"></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}