{% extends 'components/view_base.html' %}
{% block title %}
	{{ blog.title }}
{% endblock %}
{% block content %}
<div id="content" class="yui3-g">
	<div id="main-column" class="yui3-u-2-3">
		<div id="main-column-content" class="content">
			<div id="story-head">
				<h4 class="time first"><span class="date">{{ blog.date.date }}</span></h4>
				<div id="headline">
					<h1>{{ blog.title }} </h1>
					<a href="./Oak Island Endgame_ An Interview with James McQuiston_files/James_McQuiston_Curse_of_Oak_Island.jpg" title="Oak Island Endgame: An Interview with James McQuiston" target="_blank" rel="lightbox[splash]"><img src="{{ blog.post_image.url }}" class=""></a>
					<cite></cite>
					<aside>
						<blockquote>
							<p class="blurb">{% if blog.description %}{{ blog.description }} {% endif %}</p>
						</blockquote>
					</aside>
				</div>
			</div><!--story-head-->
			<div id="story-body">
				<div id="story">
					<article>
						<div class="content">
							{{ blog.post_content|safe }}
						</div>
					</article>
				</div><!--story-->
			</div><!--story-body-->
		</div>
	</div>
</div><!--content-->
{% endblock %}