<nav>
	<div id="nav" class="yui3-u-1">
		<div id="nav-preload"></div>
		<ul id="mainnav">
			<li class="a">
				<a href="/" title="Back to Homepage of Adventures of Nicky Book Series"><span><h5>Home</h5></span></a>
			</li>
			<li class="aa {% if request.path == '/books/' %} active {% endif %}">
				<a href="/books" title="The Adventures of Nicky Books"><span><h5>Books</h5></span></a>
			</li>
			<li class="ab {% if request.path == '/author/' %} active {% endif %}">
				<a href="/author/" title="About Alessandra Nadudvari"><span><h5>Author</h5></span></a>
			</li>
			<li class="ac {% if request.path == '/blog/' %} active {% endif %}">
				<a href="/blog/" title="Author&#39;s Blog"><span><h5>Blog</h5></span></a>
			</li>
			<li class="ae {% if request.path == '/reviews/' %} active {% endif %}">
				<a href="/reviews/" title="Feedback from Readers"><span><h5>Reviews</h5></span></a>
			</li>
			<li class="ae {% if request.path == '/videos/' %} active {% endif %}">
				<a href="/videos/ " title="Videos of some of those interviews"><span><h5>Videos</h5></span></a>
			</li>
			<li class="af {% if request.path == '/contact/' %} active {% endif %}">
				<a href="/contact/" title="Contact Author"><span><h5>Contact</h5></span></a>
			</li>
			{% if user.is_authenticated %}
			<li class="af {% if request.path == '/profile/' %} active {% endif %}">
				<a href="{% url 'MyProfile:index' %}" title="Profile"><span><h5>Profile</h5></span></a>
			</li>
			<li class="af {% if request.path == '/login/' %} active {% endif %}">
				<a href="{% url 'home:logout' %}" title="Logout"><span><h5>Logout</h5></span></a>
			</li>
			{% else %}
			<li class="af {% if request.path == '/login/' %} active {% endif %}">
				<a href="/login/" title="User Login"><span><h5>Login</h5></span></a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>