<!DOCTYPE html>
<html lang="" dir="ltr" id="story-page" class="simple" crosspilot=""><!--<![endif]-->
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="https://www.adventuresofnicky.com/images/nickyIcon.png">
	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static 'books/css/custom.css' %}">
</head>
<body>
<div id="cape">
<div id="robe">
<div id="crown"><div class="overlay"></div></div>
<div id="doc">
    <header>
        <div id="hd" role="banner">
            <a href="https://www.adventuresofnicky.com/" title="Written by Alessandra Nadudvari" target="_parent"><h2 id="logo"><span>Adventures of Nicky Book Series</span></h2></a>
            <div id="splash">
                <h3><span></span></h3>
            </div>
        </div>
    </header>

    <div id="bd" role="main" class="yui3-g">
        <div id="jump-to_menu" class="yui3-g">
            <div class="content yui3-u-1">
                <p class=""><a href="">Jump to Menu</a></p>
            </div>
        </div>
{% block content %}
{% endblock %}
{% include 'components/navbar.html' %}
    <footer>
        <div id="ft" role="contentinfo" class="yui3-u-1">
            <address>
                <p class="content">Copyright © Alessandra Nadudvari, 2021</p>
            </address>
        </div>
    </footer>
</div><!-- bd -->
</div><!-- doc -->
<div id="shoe"><div class="overlay"></div></div>
</div><!-- robe -->
</div><!-- cape -->
</body></html>