{% extends 'accounts/baseAccount.html' %}
{% block title %} Add book {% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
<table class="table table-borderless table-hover container mt-5">
	{% csrf_token %}
	<tr>
		<td>Name</td>
		<td><input type="text" name="name" class="form-control" required></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><textarea name="description" cols="30" rows="4" class="form-control"></textarea></td>
	</tr>
	<tr>
		<td><label for="active">active</label></td>
		<td><input type="checkbox" id="active" name="active" checked="true"></td>
	</tr>
	<tr>
		<td>cover image</td>
		<td><input type="file" name="cover_image" class="form-control" required></td>
	</tr>
	<tr>
		<td>Sample book</td>
		<td><input type="file" name="sample_book" class="form-control"></td>
	</tr>
	<tr>
		<td>taxes</td>
		<td>
			<select name="taxes" class="form-control" multiple>
				{% for tax in taxes %}
				<option value="{{ tax.pk }}">{{tax.name}} {{tax.percentage}}%</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td>audio file</td>
		<td><input type="file" name="audio" class="form-control"></td>
	</tr>
	<tr>
		<td>audio price</td>
		<td><input type="number" name="audio_price" class="form-control"></td>
	</tr>
	<tr>
		<td>ebook file</td>
		<td><input type="file" name="ebook" class="form-control"></td>
	</tr>
	<tr>
		<td>ebook price</td>
		<td><input type="number" name="ebook_price" class="form-control"></td>
	</tr>
	<tr>
		<td><label for="paper_back">paper back</label></td>
		<td><input id="paper_back" type="checkbox" name="paperback"></td>
	</tr>
	<tr class="paperbackRow">
		<td>paperback quantity</td>
		<td><input type="number" name="paperback_quantity" class="form-control"></td>
	</tr>
	<tr class="paperbackRow">
		<td>paperback price</td>
		<td><input type="number" name="paperback_price" class="form-control"></td>
	</tr>
	<tr class="paperbackRow">
		<td>Shipping</td>
		<td>
			<select name="shipping" class="form-control">
				<option value="">--select shipping--</option>
				{% for shipping in shippings %}
				<option value="{{ shipping.pk }}">{{ shipping }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr class="text-center">
		<td colspan="2"><input type="submit" class="btn btn-outline-success"></td>
	</tr>
</table>
</form>
{% load static %}
<script src="{% static 'books/bookaddedit.js' %}"></script>
{% endblock %}