{% extends 'components/base.html' %}
{% block title %}books{% endblock %}
{% block content %}
<div id="content" class="yui3-g">
	<div id="main-column" class="yui3-u-2-3">
		<div id="main-column-content" class="content">
			<h1>The Books</h1>
			<div id="postlist" class="postlist">
				<div class="content">
					{% for book in books  %}
					<div id="NewsArchive-0" class="item clearfix">
						<div class="clearfix">
							<a href="{% url 'books:viewbook' book.slug %}" title="{{ book.title }}">
								<img src="{{ book.cover_image.url }}" class="align-left thumbnail" alt="book cover">
							</a>
							<div class="post-hd">
								<h2><a href="{% url 'books:viewbook' book.slug %}" title="{{ book.title }}">{{ book.name }}</a></h2>
							</div>
							<p class="blurb">{{ book.description }}</p>
						</div>
						<footer>
							<div>
								{% if book.sample_book %}
									<p class="button"><a href="{{ book.sample_book.url }}" title="sample chapters: {{ book.name }}" target="_blank" rel="nofollow">Sample Chapters</a></p>
								{% endif %}
								{% if book.audio_price %}
									 <p class="button"><a href="{% url 'books:addtocart' book.slug %}?ptype=audio" rel="nofollow">Audio</a></p>
								{% endif %}
								{% if book.ebook_price %}
									<p class="button" title="Add to cart"><a href="{% url 'books:addtocart' book.slug %}?ptype=ebook" rel="nofollow">Ebook</a></p>
								{% endif %}
								{% if book.paperback and book.paperback_quantity > 0 %}
								<p class="button"><a href="{% url 'books:addtocart' book.slug %}?ptype=paperback" rel="nofollow">Paperback</a></p>
								{% endif %}
							</div>
						</footer>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div><!--content-->


{% endblock %}