{% extends 'accounts/baseAccount.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
<table class="table table-borderless table-hover container">
	{% csrf_token %}
	<tr>
		<td>Name</td>
		<td><input type="text" name="name" class="form-control" value="{{ book.name }}"></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><textarea name="description" cols="30" rows="4" class="form-control">{{ book.description }}</textarea></td>
	</tr>
	<tr>
		<td><label for="active">active</label></td>
		<td><input type="checkbox" id="active" name="active" {% if book.active %}checked{% endif %}></td>
	</tr>
	<tr>
		<td>cover image</td>
		<td>
			<a href="{{ book.cover_image.url }}" target="_blank">current</a>
			<input type="file" name="cover_image" class="form-control">
		</td>
	</tr>
	<tr>
		<td>Sample book</td>
		<td>
			<a href="{{ book.sample_book.url }}" target="_blank">current</a>
			<input type="file" name="sample_book" class="form-control">
		</td>
	</tr>
	<tr>
		<td>taxes</td>
		<td>
			<select name="taxes" class="form-control" multiple>
				{% for tax in taxes %}
				<option value="{{ tax.pk }}" {% if tax in book.taxes.all %} selected  {% endif %}>{{tax.name}} {{tax.percentage}}%</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td>audio </td>
		<td>
			{% if book.audio %}
			<a href="{{ book.audio.url }}" target="_blank">current</a>
			{% endif %}
			<input type="file" name="audio" class="form-control">
		</td>
	</tr>
	<tr>
		<td>audio price</td>
		<td><input type="number" name="audio_price" class="form-control" value="{{ book.audio_price }}"></td>
	</tr>
	<tr>
		<td>ebook</td>
		<td>
			{% if book.digital %}
			<a href="{{ book.digital.url }}" target="_blank">current</a>
			{% endif %}
			<input type="file" name="ebook" class="form-control">
		</td>
	</tr>
	<tr>
		<td>ebook price</td>
		<td><input type="number" name="ebook_price" class="form-control"></td>
	</tr>
	<tr>
		<td><label for="paper_back">paper back</label></td>
		<td><input id="paper_back" type="checkbox" name="paperback" {% if book.paperback %}checked{% endif %}></td>
	</tr>
	<tr class="paperbackRow">
		<td>paperback quantity</td>
		<td><input type="number" name="paperback_quantity" class="form-control" value="{{ book.paperback_quantity }}"></td>
	</tr>
	<tr class="paperbackRow">
		<td>paperback price</td>
		<td><input type="number" name="paperback_price" class="form-control" value="{{ book.paperback_price }}"></td>
	</tr>
	<tr class="paperbackRow">
		<td>Shipping</td>
		<td>
			<select name="shipping" class="form-control">
				<option value="">--select shipping--</option>
				{% for shipping in shippings %}
				<option value="{{ shipping.pk }}" {% if shipping == book.shipping %}selected{% endif %}>{{ shipping }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr class="text-center">
		<td colspan="2"><input type="submit" class="btn btn-outline-success"></td>
	</tr>
</table>
</form>

<script>
	function checked(){
		$('.paperbackRow').show();
		$('input[name=paperback_quantity]').prop("required",true)
		$('input[name=paperback_price]').prop("required",true)
		$('select[name=shipping]').prop("required",true)
	}
	function notchecked(){
		$('.paperbackRow').hide();
		$('input[name="paperback_quantity"]').val('');
		$('input[name="paperback_price"]').val('');
		$('select[name="shipping"]').val('');
		$('input[name=paperback_quantity]').prop("required",false)
		$('input[name=paperback_price]').prop("required",false)
		$('select[name=shipping]').prop("required",false)
	}
	$(document).ready(function () {
		if($('#paper_back').prop('checked')){
			checked()		
		}
		else{
			notchecked()
		}
	})
	$('#paper_back').change(function () {
		if($(this).prop('checked')){
			checked()
		}
		else{
			notchecked()
		}
	});
</script>

{% endblock %}