{% extends 'components/view_base.html' %}
{% block title %}{{ book.name }}{% endblock %}
{% block content %}
<div id="content" class="yui3-g">
	<div id="main-column" class="yui3-u-2-3">
		<div id="main-column-content" class="content">
			<div id="story-head">
				<div id="headline">
					<h1>{{ book.name }}</h1>
					<a href="{{ book.cover_image.url }}" title="{{ book.title }}" target="_blank" rel="lightbox[splash]">
						<img src="{{ book.cover_image.url }}" class="">
					</a>
					<cite>
					</cite>
				</div>
			</div><!--story-head-->
			<div id="story-body">
				<div id="story">
					<article>
						<div class="content">
							<p>{{ book.description }}</p>
							<p class="button"><a title="Chapters 1 to 3 of {{ book.name }}" href="{{ book.sample_book.url }}" target="_blank"><strong>Click here to read the first three chapters</strong></a></p>
							<h4>Buy the Book</h4>
							<ul>
								{% if book.paperback and book.paperback_quantity > 0  %}
								<li><a title="{{ book.title }}" href="{% url 'books:addtocart' book.slug %}?ptype=paperback" target="_blank">Paperback</a></li>
								{% endif %}
								{% if book.ebook_price %}
								<li><a title="{{ book.title }}" href="{% url 'books:addtocart' book.slug %}?ptype=ebook" target="_blank">Ebook</a></li>
								{% endif %}
								{% if book.audio_price %}
								<li><a title="{{ book.title }}" href="{% url 'books:addtocart' book.slug %}?ptype=audio" target="_blank">Audio book</a></li>
								{% endif %}
							</ul>
						</div>
					</article>
				</div><!--story-->
			</div><!--story-body-->
		</div>
	</div>
		</div><!--content-->
{% endblock %}
