<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		*{
			font-family: 'Montserrat', sans-serif; 
		}
		table{
			width: 100%;
    		margin-bottom: 1rem;
    		text-align: center;
		}
	</style>
</head>
<body>
	<h3 style="text-align: center;">Congratulations on your purchase</h3>
	<h4 style="text-align: center;">Here is a summary of your order</h4>
	<table>
		<tr>
			<th>Product</th>
			<th>type</th>
			<th>quantity</th>
			<td>price</td>
			<td>Shipping address</td>
		</tr>
	{% for orderitem in orderitems %}
		<tr>
			<td>{{ orderitem.product }}</td>
			<td>{{ orderitem.itemtype }}</td>
			<td>{{ orderitem.quantity }}</td>
			<td>{{ orderitem.price_total }}</td>
			<td>{{ orderitem.address.shippingAddress }}</td>
		</tr>
	{% endfor %}
	</table>
	{% if orderitems|length == '1' %}
		{% if orderitems.0.user %}
		{% else %}
			{% if orderitems.0.itemtype == 'paperback' %}
				<p>You will updated via mail when item is shipped</p>
			{% else %}
				<p>You will recive email shortly containing attachment</p>
			{% endif %}
		{% endif %}
	{% endif %}
</body>
</html>