<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		h2{
			text-align: center;
		}
	</style>	
</head>
<body>
	<h2>Dear {{ order.address.billingFirstname }} {{ order.address.billingLastName }}</h2>
	<h3>Please find your ordered item in the attachment</h3>
	<br>
	<p>Regards</p>
	<a href="{{ domain }}">Adventures of nicky</a>

</body>
</html>