<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		*{
			font-family: 'Montserrat', sans-serif; 
		}
		table{
			width: 100%;
    		margin-bottom: 1rem;
    		text-align: center;
		}
	</style>
</head>
<body>
	<h3 style="text-align: center;">Order update</h3>
	<h4 style="text-align: center;">Hello greetings</h4>
	<h4 style="text-align: center;">There is an update in your order</h4>
	<table>
		<tr>
			<th>Product</th>
			<td>{{ form.product }}</td>
		</tr>
		<tr>
			<th>type</th>
			<td>{{ form.itemtype }}</td>
		</tr>
		<tr>
			<th>quantity</th>
			<td>{{ form.quantity }}</td>
		</tr>
		<tr>
			<td>price</td>
			<td>${{ form.price_total }}</td>
		</tr>
		<tr>
			<td>Shipping address</td>
			<td>{{ form.address.shippingAddress }}</td>
		</tr>
		<tr>
			<td>Shipped Date</td>
			<td>{{ form.shipped_date.date }}</td>
		</tr>
		<tr>
			<td>Courier Details</td>
			<td>{{ form.courier_details }}</td>
		</tr>
	</table>
</body>
</html>