{% extends 'components/base.html' %}
{% block title %}author{% endblock %}
{% block content %}
{% load static %}
<div id="content" class="yui3-g">
	<div id="main-column" class="yui3-u-2-3">
		<div id="main-column-content" class="content">
			<div>
				<a rel="lightbox[splash]" href="{{ author.author_image.url }}" target="_blank" title="Alessandra Nadudvari"><img src="{{ author.author_image.url }}"></a>
			</div>
			<h1>The Author</h1>
			<p class="dropcap">
				{{ author.description|safe }}
			</p>
			{% for social in socials %}
			{% if social.icon %}
			<p class="button" style="background: none;">
				<a href="{{ social.url }}" title="{{ social.title }}" target="_blank">
					<img src="{{ social.icon.url }}" alt="" width="30">
				</a>
			</p>
			{% else %}
			<p class="button">
				<a href="{{ social.url }}" title="{{ social.title }} " target="_blank">{{ social.name }}</a>
			</p>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div><!--content-->
{% endblock %}