{% extends 'components/base.html' %}
{% block title %}contact{% endblock %}
{% block content %}
{% load static %}
<style>
    h1,h2,h3{
        margin: 0px;
        letter-spacing: normal;
        word-spacing: normal;
    }
</style>
<div id="content" class="yui3-g">
    <div id="main-column" class="yui3-u-2-3">
     <div id="main-column-content" class="content">
       <div class="yui3-g">
          <div class="content">
              <div id="contactform" class="box yui3-u-1">
                  <div class="content">
                  <div id="contactDiv">
                    {% if messages %}
                        {% for message in messages %}
                            <h3>{{ message }}</h3>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <dl>
                            <dt>
                                <label for="name">Name <span class="note">(required)</span></label>
                            </dt>
                            <dd data-children-count="1">
                                <input class="required" type="text" name="name" required>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="email">Email <span class="note">(required)</span></label>
                            </dt>
                            <dd data-children-count="1">
                                <input class="required" type="email" name="email" required><span id="emailCheckResult"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="subject">Subject <span class="note">(required)</span></label>
                            </dt>
                            <dd data-children-count="1">
                                <input class="required" type="text" name="subject" required="">
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="message">Message <span class="note">(required)</span></label>
                            </dt>
                            <dd data-children-count="1">
                                <textarea class="required" name="body" required></textarea>
                            </dd>
                        </dl>
                        <dl>
                            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                            <div class="g-recaptcha" data-sitekey="6Lei5EwbAAAAAEtRa-607fX3HXvtx8XCssPqOlnN"></div>
                        </dl>
                        <div class="contact-submit">
                            <input type="submit" name="send" value="Submit" id="submitBtn">
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div id="side-column" class="yui3-u-1-3">
    <div class="content">
       <img src="{% static 'contact/write-Alessandra-Nadudvari.jpg' %}" width="100%" height="auto" alt="write to Alessandra Nadudvari">				</div>
   </div>
</div><!--content-->

{% endblock %}