{% extends 'accounts/baseAccount.html' %}
{% block title %}
	{{ message.subject }}
{% endblock %}
{% block content %}
	<table class="table table-borderless text-center container" style="margin-top: 50px;">
		<tr>
			<td>date</td>
			<td>{{ message.date.date }}</td>
		</tr>
		<tr>
			<td>Reviewer name</td>
			<td>{{ message.name }}</td>
		</tr>
		<tr>
			<td>email</td>
			<td>{{ message.email }}</td>
		</tr>
		<tr>
			<td>subject</td>
			<td>{{ message.subject }}</td>
		</tr>
		<tr>
			<td>body</td>
			<td>{{ message.body }}</td>
		</tr>
	</table>
	{% include 'accounts/components/delete_modal.html' %}
{% endblock %}