/*Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/

@charset "utf-8";

/*Reset*/html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/*Font*/body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/*Base*/h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
/*Grids*/.yui3-g{letter-spacing:-0.31em;*letter-spacing:normal;word-spacing:-0.43em;}.yui3-u,.yui3-u-1,.yui3-u-1-2,.yui3-u-1-3,.yui3-u-2-3,.yui3-u-1-4,.yui3-u-3-4,.yui3-u-1-5,.yui3-u-2-5,.yui3-u-3-5,.yui3-u-4-5,.yui3-u-1-6,.yui3-u-5-6,.yui3-u-1-8,.yui3-u-3-8,.yui3-u-5-8,.yui3-u-7-8,.yui3-u-1-12,.yui3-u-5-12,.yui3-u-7-12,.yui3-u-11-12,.yui3-u-1-24,.yui3-u-5-24,.yui3-u-7-24,.yui3-u-11-24,.yui3-u-13-24,.yui3-u-17-24,.yui3-u-19-24,.yui3-u-23-24{display:inline-block;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;}

/* HTML5 ✰ Boilerplate */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; } audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; } audio:not([controls]) { display: none; } [hidden] { display: none; } 
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } body { margin: 0; font-size: 13px; line-height: 1.231; } /*body, button, input, select, textarea { font-family: sans-serif; color: #222; }*/
a { color: #00e; } a:visited { color: #551a8b; } a:hover { color: #06e; } a:focus { outline: thin dotted; } a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; } b, strong { font-weight: bold; } /*blockquote { margin: 1em 40px; }*/ dfn { font-style: italic; } hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } ins { background: #ff9; color: #000; text-decoration: none; } mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; } pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; } pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; } q { quotes: none; } q:before, q:after { content: ""; content: none; } small { font-size: 85%; } sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; } sup { top: -0.5em; } sub { bottom: -0.25em; } ul, ol { margin: 1em 0; padding: 0 0 0 40px; } dd { margin: 0 0 0 40px; } nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; } img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; } svg:not(:root) { overflow: hidden; } figure { margin: 0; } form { margin: 0; } fieldset { border: 0; margin: 0; padding: 0; } label { cursor: pointer; } legend { border: 0; *margin-left: -7px; padding: 0; } button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; } button, input { line-height: normal; *overflow: visible; } table button, table input { *overflow: auto; } button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; } input[type="checkbox"], input[type="radio"] { box-sizing: border-box; } input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; } input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; } button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; } textarea { overflow: auto; vertical-align: top; resize: vertical; } input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; } table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; } .ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; } .ir br { display: none; } .hidden { display: none !important; visibility: hidden; } .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; } .invisible { visibility: hidden; } .clearfix:before, .clearfix:after { content: ""; display: table; } .clearfix:after { clear: both; }
.clearfix { zoom: 1; }
 @media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */ a, a:visited { text-decoration: underline; } a[href]:after { content: ""; }  abbr[title]:after { content: ""; } .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */ pre, blockquote { page-break-inside: avoid; } thead { display: table-header-group; } /* h5bp.com/t */ tr, img { page-break-inside: avoid; } img { max-width: 100% !important; } @page { margin: 0.5cm; } p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } #jump-to_menu, nav {display:none;} 
}

/* Dreamweaver CS6 ✰ Fluid Style */
img, object, embed, video {	max-width: 100%; }.ie6 img {width:100%;}

/* Mobile Layout: 480px and below. */
html{color:#55310F;background:#FFFFFF;}
html,body{height:100%;}
body{font-size:93%;font:15px/1.5 "Myriad Pro","Trebuchet MS","Helvetica Neue",Helvetica,Arial,Sans-Serif}
p,li{clear:both}
.story p{clear:none}
/*li:before,li:after{content:"";display:table;}li:after{clear: both;}li{zoom:1;}*/
a:link,a:visited{color:#9A2B20;text-decoration:none}
a:hover{text-decoration:underline}
label{font-weight:bold}
input{line-height: 1.531;margin:6px 0px}
input,textarea{background:#FFF;border:solid 1px;padding:2px;}
input.button,.button,.button-primary{cursor: pointer;border:1px solid;/*margin-left:10px;*/display:inline-block;padding:3px 8px;font-weight:bold}
.submit,input[type=submit]{text-align:center;font-weight:bold}
#doc {
  margin: auto; /* center in viewport */
	min-height:100%;
}

#robe:before, #robe:after { content: ""; display: table; } #robe:after { clear: both; }#robe { zoom: 1; }
#crown .overlay,#hd{background:none;height:auto}
#doc,#bd{width:100%;}

#logo {text-align:center;background:none;xwidth:100%;margin:0;text-transform:uppercase;}
#splash{position:absolute;top:30px;}
#splash h3{padding:0px;margin:0px}
#splash h3 span{display:none}
h1,h2,h3{line-height: 1em;}
h1,h2,h3,h4,h5,h6,p{text-align:left;}
h1 span,h2 span{font-size:167%;line-height:100%;}
h4{margin-bottom:1em;margin-top:2em}
.content{padding:13px;}.subcontent{padding:13px 0px;}
.hidden,.key{display:none}
#bd{margin-bottom:184px;height:100%;}
dl,form dt,form dd,address dd{margin-left:0px;margin-right:0px}
dl{margin-top:6px}
form input{margin-top:0px;padding:0.2em 0.8em;}
#content {text-align: center;}
#main-column,#side-column{text-align:left;width:100%;display:block;}
#contact #main-column{text-align:center}
.clear{clear:both}

form.search{text-align:right;}
#login_form{text-align:right;}
#login_form dl{display:inline-block;margin:0px 0px 0px 8px}
#login_form input{width:128px;}
#login_form input.button{width:auto;margin-right:13px;}
#contactform{margin-left:auto;margin-right:auto}
#contactform input[type=text],#contactform input[type=password],#contactform textarea{width:95%;}
#contactform input[type=text].required,#contactform input[type=password].required,#contactform textarea.required{background:#F2EED0;}
#splash-row{overflow:hidden}
.box,.header{border-top-left-radius:8px;border-top-right-radius:8px;-moz-border-top-left-radius:8px;-moz-border-top-right-radius:8px;}
img.thumbnail,.size-thumbnail {border: 2px solid #7F5101;}
.fullwidth { padding-left:0;padding-right:0}
.postlist .item{margin-bottom:2em}
.postlist img.thumbnail { float: left;margin: 0 10px 5px 0;width:25%}
.postlist .post-hd{margin-bottom:1em}
.postlist p{display:inline}
.letter-signature strong{font-style:italic}
.postlist .letter-signature{margin: 1em 0 2em;}


#shownews #headline{float:none}
.header{background:#2A4718;color:#BFD872;padding:4px 12px 0 12px;}
.header h3,.header h4{line-height:26px;font-size:123.1%;text-align:center;margin:0}
.postlist h2{font-size:108%;margin-bottom:0.2em}
.header h3{text-transform:uppercase;}

#story-page #headline .blurb{font-weight:bold;letter-spacing:-0.015em;font-size:123.1%;color:#7F5101}

#main-column h1{font-size:28px}
h1.section-title{margin-bottom:0px;border-bottom:1px solid}
h1.section-title,#side-column .headline h2{font-size:x-large}
#side-column .headline{margin-bottom:0px}
#headline .content,.headline .content{}
.sublevel-3{width:48%;float:right}
.item-group{margin-top:3em}
.item-group.first{margin-top:0em}
h4.time{font-size:85%;text-transform:uppercase;color:#7F5101;border-bottom:1px solid #7F5101;margin-bottom: 6px;margin-top: 1em;clear:both}
.prop{color:#7F5101;font-style:italic;}
.item-group h4.time{margin-top:0em;}
#headline h4.time{margin-top:0}
.time .elapsed{text-transform:none;font-weight:normal}
.postlist .column-unit{margin-top:0px}
.postlist article{border-bottom:1px solid #ac894b;padding: 0.525em 0;}
.postlist article h2{margin-top:0}
.postlist h5{font-size:114%}
h4.first{padding-top:0em}
.title,.pricetag{font-weight:bold}.pricetag .symbol{font-weight:normal;vertical-align:text-top;font-size:64%;}
#postlist .pricetag{font-size:124%;line-height:82%}
p.blurb{margin-bottom:1em}

/* bid table */
table{border-collapse:collapse;border-spacing:0;color:#444444;width:100%}
table,th, td{border:0px;}
table thead{font-weight:bold;border-bottom: 1px solid #005E83;border-top: 2px solid #005E83;background:#003061;color:#FFF}
th{padding:0}
th div a{display:inline-block;padding:0.5em;xwidth:100%;xheight:100%;margin:0}
th div.plus-help a{padding-bottom:0}
th div.plus-help{padding-bottom:0.5em}
.sortable span{float:left}
.sortable span.text{width:60%}
.sort{display:block;background-position:left -245px;width:16px;height:17px;margin:0px;}
div.sortable:hover .sort{background-position:-14px -245px;}
tr.yang{background:#DFEAF8;border-bottom: 1px solid #E5E5E5;border-top: 1px solid #E5E5E5;}
td.hl{background:#DFEAF8}
tr.yang td.hl,tr:hover td{background:#CAD3E0}

p.more{display:block;text-align:right;text-transform:lowercase;border-top:2px solid;}
p.column-jumper{display:none}
p.more em{display:inline-block;padding-right:24px;background:url(https://adventuresofnicky.com/css/images/slices.gif) no-repeat right -141px;height:17px;font-style:normal;font-weight:bold}
p.contact{font-weight:bold}
.headline p {font-size: 100%;margin-bottom: 0.5em;}
.postlist footer,#headline footer{border-bottom:1px solid #7F5101;clear:both;text-align:right;
	}
.postlist footer{margin-bottom:0.5em;margin-top: 0.2em;}
footer.last{border:none}


#admin-actions{display:inline-block;float:left}
#dirlist .header{margin:13px 0}
#dirlist .group{clear:both}
#dirlist .item{display:inline-block;width:30%;float:left;margin-left:4px;}
#dirlist .item.first{margin-left:0}
#dirlist .group .title{font-weight:bold;line-height:1.4em}
#dirlist .group .address{line-height:1.4em}
x#dirlist .wrapper{margin-bottom:2em;}
x#dirlist .item{float:left;width:auto;overflow:hidden;text-align:center}
.mediaplayer embed,.mediaplayer object,#mediaplayer embed,#mediaplayer object{background:#000;display:inline-block}
.mediaplayer.content,.mediaplayer .content{padding:0}
/*.media-img{display:none}*/
.box{background-color:#D9E3BE;background-color:rgba(255, 255, 255, 0.2);border-radius:8px;-moz-border-radius:8px;box-shadow:6px 6px 10px #2A4718;}
#sharebox{clear:both;border-top:1px solid #7F5101;border-bottom:1px solid #7F5101;padding:5px 0px 5px;margin-bottom:13px;text-align:right}
#story-page #main-column{ width: 100%; }
#story img {width:100%;height:auto}
#story img.size-thumbnail{width:auto} /* use % to autofit .wp-caption. */
.wp-caption,#story img.size-thumbnail{clear:both;display:inline-block;float:left;margin-right:1.5em;margin-bottom:0.5em;vertical-align:top;}
.wp-caption img{float:none}
#story br,form br{display:none}
#story .content{margin:1em 0em}
.gallery img{border:4px solid;margin:6px}
.gallery-caption{display:none}
.letter-signature{text-align:center;margin:2em 16% 2em;float:right}
.letter-signature dt{font-weight:bold;font-size:123.1%}
.letter-signature dd{font-style:italic}

/* Style Classes */
.alignright{float:right;margin:0px 0px 0.5em 0.5em}
.alignleft{float:left;margin:0px 0.5em 0.5em 0px;}
.aligncenter {display:block;margin-left:auto;margin-right:auto;}
.st-midvalign {width:100%;} /*assign to parallel divs*/

.wp-caption-text,.caption{font-size:85%;color:#7F5101;padding:4px 0px;border-bottom:1px solid #7F5101;font-style:italic}
.emailad{text-transform:lowercase}

#latestresource {background: #D9E3BE;border-radius: 8px 8px 8px 8px;}

/* s3 captcha */
/*#capcha li {float: left;}
*/
.slideshow {position:relative;height:205px;width:974px;overflow:hidden;}
.slide { display: none; position: absolute;width:100%}
.slide.current { display: block; }
#usernav{text-align:right;}
#usernav li,#nav li {border-left:#7F1912 1px solid}#usernav li:nth-child(1),#nav li:nth-child(1){border-left:none}
#nav{text-align:left;width:100%;right:0;display:inline-block;}
#mainnav,#usermenu{display:inline-block;line-height:24px;font-weight:bold;font-size:123.1%;padding:0px 0px;}
#mainnav,#usermenu,li.active a:link,li.active a:visited{color:#CC9D4B;}
#usermenu{text-transform:uppercase;font-size:93%;}
ul.row-blocks,div.row-blocks{margin:0;padding:0;text-align:center;}
.row-blocks .button{margin-left:0px;margin-right:0.2em}
#mainnav li,#usermenu li,.row-blocks li,.row-blocks .item{display:inline-block;list-style:outside none;/*float:left;*/text-align:center;}
.row-blocks li,.row-blocks .item{margin-bottom:0.5em}
li.active,input[type=submit]{background:#7F1912;color:#CC9D4B;}
#mainnav h5,#mainnav .sub a,#usernav li {padding-left:0.5em;padding-right:0.5em;}
#mainnav a{display:block;}
#mainnav a:link,#mainnav a:visited{color:#7F1912;}
#mainnav a:hover,#mainnav li.active a:link, #mainnav li.active a:visited,.vert.nav h5,.vert .sub li a:hover{background:#7F1912;color:#CC9D4B;text-decoration:none}
#mainnav .sub {background:#7F1912;border-bottom: 1px solid;font-size: 81%;
    left:0px;width: 100%;}
#mainnav .sub a:link,#mainnav .sub a:visited{}

ul.nav,ul.nav ul{margin-left:0;padding-left:0;}
.nav li{list-style: none outside none;}
.nav li.active a{padding:0}
.nav li a,.nav li.active,.nav h5{padding:0.2em 1em;display:block}
.vert .sub li{border-top:1px solid}.vert .sub li:nth-child(1){border:none}

/* #HOME */
x#library #nav{top:-40px;}
x#library #mainnav{margin:0 0 0 80px;}


#doc{margin-bottom:0px;}
#ft{height:auto;padding: 0px;top:0px;width:100%}
#ft,.fine{position:relative;text-align:center;clear:both;font-size:85%;z-index: 1;}
#ft p{margin:0;display:inline-block;}
#notice {border-top: 1px solid}
#shoe,#shoe .overlay{height:0px;}
.bold {font-weight: bold;}

/* WP Override */
#wpcontent{margin-left:0px;}
figure {padding:10px;}

/* YUI tabs */
.yui3-tab-selected{background:#5E3519;box-shadow: 0 6px 10px 0 #000 inset;}

/* YUI-carousel */
x.yui-carousel-button {
    background: url("https://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") no-repeat scroll 0 -600px transparent;
    float: right;
    height: 19px;
    margin: 5px;
    overflow: hidden;
    width: 40px;
}
.yui-carousel-content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.yui-carousel-element {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
}

.yui-carousel-horizontal .yui-carousel-element {width: 320000px;}
.yui-carousel-item-loading {background: url("https://adventuresofnicky.com/images/ajax-loader.gif") no-repeat scroll 50% 50% transparent;position: absolute;text-indent: -150px;}

.reviewItem {padding-bottom: 30px;}
.text-right {text-align: right !important;}
#video-page {width: 100%;}
#video-page h1{font-size: 200%;}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 982px) {
	.yui3-u-1{display:block;}.yui3-u-1-2{width:50%;}.yui3-u-1-3{width:33.33333%;}.yui3-u-2-3{width:66.66666%;}.yui3-u-1-4{width:25%;}.yui3-u-3-4{width:75%;}.yui3-u-1-5{width:20%;}.yui3-u-2-5{width:40%;}.yui3-u-3-5{width:60%;}.yui3-u-4-5{width:80%;}.yui3-u-1-6{width:16.656%;}.yui3-u-5-6{width:83.33%;}.yui3-u-1-8{width:12.5%;}.yui3-u-3-8{width:37.5%;}.yui3-u-5-8{width:62.5%;}.yui3-u-7-8{width:87.5%;}.yui3-u-1-12{width:8.3333%;}.yui3-u-5-12{width:41.6666%;}.yui3-u-7-12{width:58.3333%;}.yui3-u-11-12{width:91.6666%;}.yui3-u-1-24{width:4.1666%;}.yui3-u-5-24{width:20.8333%;}.yui3-u-7-24{width:29.1666%;}.yui3-u-11-24{width:45.8333%;}.yui3-u-13-24{width:54.1666%;}.yui3-u-17-24{width:70.8333%;}.yui3-u-19-24{width:79.1666%;}.yui3-u-23-24{width:95.8333%;}

	.st-midvalign {min-height:6.5em;display: table-cell;vertical-align:middle;} /*assign to parallel divs*/
	
	#crown .overlay,#hd{background:#FFFFFF url("../images/hd-sub_adventures-of-nicky.jpg") center bottom no-repeat;height:866px}
	h1 span,h2 span{display:none;}
	#doc,#bd{margin-top:-866px;width:968px;}
	#bd{top:866px;position:relative;background:#FFF}/*top:142px*/
	#logo {height:48px;position:relative;top:20px;}
	#jump-to_menu{display:none}
	#main-column{width:66.66666%}#side-column{width:33.33333%}
	#main-column,#side-column{display:inline-block}
	p.column-jumper{display:block}
	#story-head{width:30%;float:left;display:inline-block}
	.tablet #story-head{width:100%;}
	#story-page #story-body{display:inline-block;
		width:67%;float:right;}
	#story-page.tablet #story-body{width:100%;}
	x#story-page #story{clear:none;
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari and Chrome */
		column-count:2;
		-moz-column-gap:40px; /* Firefox */
		-webkit-column-gap:40px; /* Safari and Chrome */
		column-gap:40px;
		-moz-column-rule:0px outset; /* Firefox */
		-webkit-column-rule:0px outset; /* Safari and Chrome */
		column-rule:0px outset;}
	#story-page.tablet #story{
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;}
	#nav{position:absolute;top:-25px;}
	#mainnav,#usermenu{height:24px;margin:0 10px;}
	#mainnav .sub {position:absolute;top:24px;}
}@font-face {
	font-family: 'Uncial Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Uncial Antiqua'), local('UncialAntiqua-Regular'), url('https://themes.googleusercontent.com/static/fonts/uncialantiqua/v2/F-leefDiFwQXsyd6eaSlltK4x0DJI-T8q5ozNuxBQHo.woff') format('woff');
}

/*@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  src: local('Macondo'), local('Macondo-Regular'), url('http://fonts.gstatic.com/s/macondo/v4/HjS8WhNDYHV6n3FW4jBIww.woff') format('woff');
}*/
a:link,a:visited{color:#7F1912}
h1,h2,h3,h4,#mainnav,#intro blockquote > p:first-child::first-letter,.dropcap::first-letter{font:18px 'Uncial Antiqua',cursive;color:#9A2B20}
h2,.postlist h2{font-size:142%}
.article h1,.article h2{font:176% 'Uncial Antiqua', cursive;}/*Macondo*/
#splash-row .content{padding-left:0px;padding-right:0px}
#main-column p{text-align:justify}#main-column p.submit{text-align:center}
.article #main-column h1{font-size:36px}
#side-column{background:rgba(255, 255, 255, 0.2);}
#intro blockquote{color:#55310F;font-style:italic}
#intro blockquote > p:first-child::first-letter,.dropcap::first-letter{float: left;
    font-size: 3.5em;
    line-height: 0.8em;
    margin-left: -0.4em;
    padding-right: 0.1em;}
dl.letter-signature{width:180px;height:42px;background:url("../images/Signature-of-Nicky-Reed.gif") no-repeat;margin:0.2em 0em 2em}
dl.letter-signature dt{display:none}
.box{box-shadow:none}
#home .postlist p.blurb,#home p.credits,#home .postlist .post-hd{display:none}
.button,input.button{border:none;font:116% 'Uncial Antiqua', cursive;background:#C97E01;color:#7F1912}
input.button{background:#BFA282;}
/*.button a{color:#5F503B}*/
#story p{clear:none}
#story img.size-thumbnail {width: auto;}
#main-column .wp-caption p{text-align:left}
.wp-caption-text,.caption{border:none}
#guest-bk .postlist p,#events .postlist p{display:block}
#events .postlist p{clear:none}
#events #side-column{display:none}
address{font-size:84%}address dt{font-weight:bold;font-size:124%}

/* CONTACT PAGE */
div.row-blocks{margin:0;padding:0;text-align:left;}
.row-blocks li,.row-blocks .item{display:inline-block;list-style:outside none;padding-left:1px;padding-right:1px;text-align:left;}
.captcha-bar .first{padding-left:0px !important;}
div.row-blocks{margin:0;padding:0;text-align:left;}
.row-blocks li,.row-blocks .item{display:inline-block;list-style:outside none;padding-left:1px;padding-right:1px;text-align:left;}
.captcha-bar .first{padding-left:0px !important;}
.note{font-size:75%;}
#contactDiv{width:100%;}
#contactDiv input[type="text"], #contactDiv input[type="email"], #contactDiv textarea{width:95%;padding:3px;}
#contactDiv input, #contactDiv textarea{border:1px solid #000;}
#contactDiv dd{margin:0px;text-align:left;}
#contactDiv textarea{height:200px;}
#contactDiv .required{background-color:#F2EED0;}
#contactDiv .code1{border:2px solid #176B08;color:#176B08;}
#contactDiv .code2{border:2px solid #A81F24;color:#A81F24;}
#contactDiv .code1, #contactDiv .code2{padding:3px;text-align:center;width:95%;}
.highlight_field{border:2px solid #B10A1B !important;background-color:#ffe2e5 !important;}
.highlight_img{border:3px solid #FF8300 !important;}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 982px) {
	html {background:url("../images/bd-sub_adventures-nicky.jpg") center 0px repeat-y;}
	html#home {background:url("../images/bd_adventures-nicky.jpg") center 0px repeat-y;}
	#crown .overlay, #hd {height:866px}
	#home #crown .overlay, #home #hd {background: url("../images/hd_adventures-of-nicky.jpg") center no-repeat;height:870px}
	/*#author #crown .overlay, #author #hd {background: url("../images/hd-sub_alessandra-nadudvari.jpg") center no-repeat;}
	#author #main-column-content{margin-top:338px}*/
	#doc, #bd {width:888px;top:216px;background:none;margin-top: -866px;}
	#home #doc,#home #bd {width:968px;margin-top: -870px;}
	#home #bd{top:402px}
	#logo{height:111px;top:135px}
	#home #main-column {float: right;width:75%}
	#intro blockquote{width:62%}
	.postlist img.thumbnail{width:32%}
	.postlist footer {margin-top:1em;}
	#home .postlist img.thumbnail {width: 100%;}
	#side-column {margin-top:12px;/*width:25%*/}/*184*/
	#home #side-column{margin-top:18px;width:25%}
	/*#author #side-column{margin-top:430px;}*/
	#contact-us #side-column .content{padding:0}
	#contact-us #main-column{margin-top:10px;}
	#contact-us #side-column{margin-top:34px;}
	
	#nav{top:-32px}
	#home #nav{top:-34px}
	#story-page #story-body {margin-right:0%;width:70%;}
}
