
<!DOCTYPE html>
<html lang="" dir="ltr" id="videos" class="simple" >
<head>
	<meta charset="utf-8" />
	<meta name="description" content="In my research for The Adventures of Nicky series I speak to a lot of different people on a wide range of topics." />
	<meta name="keywords" content="Nicky,book,Alessandra Nadudvari,templar,viking" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><title>Videos | Adventures of Nicky Series</title>
	<link rel="icon" href="https://www.adventuresofnicky.com/images/nickyIcon.png">
	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static 'books/css/custom.css' %}">
</head>
<body>
	<div id="cape">
		<div id="robe">
			<div id="crown"><div class="overlay"></div></div>
			<div id="doc">

			  <header>
				<div id="hd" role="banner">
				  <a href="../" title="Written by Alessandra Nadudvari" target="_parent"><h2 id="logo"><span>Adventures of Nicky Book Series</span></h2></a>
				  <div id="splash">
					<h3><span></span></h3>
				</div>
			</div>
		</header>


		<div id="bd" role="main" class="yui3-g">
			<div id="jump-to_menu" class="yui3-g">
				<div class="content yui3-u-1">
					<p class=""><a href="#nav">Jump to Menu</a></p>
				</div>
			</div>
			<div id="content" class="yui3-g">
				<div id="video-page" class="yui3-u-2-3">
					<h1 class="text-center">Videos</h1>
					<p>In my research for the <i>Adventures of Nicky</i> series I speak to a lot of different people on a wide range of topics. Here are videos of some of those interviews.</p>
					<div class="row">
						{% for video in videos %}
						<div class="col-md-3">
							<a href="{% url 'videos:viewvideo' video.slug %}"><img src="{{ video.video_thumbnail.url }}" alt="{{ video.video_title }}" title="{{ video.video_title }}" width="250" height="150" /></a>
							<a href="{% url 'videos:viewvideo' video.slug %}"><p>{{ video.video_title }}</p></p>
							</div>
							{% endfor %}
						</div>
						{% include 'components/navbar.html' %}
						<footer>
							<div id="ft" role="contentinfo" class="yui3-u-1">
								<address>
									<p class="content">Copyright &copy; Alessandra Nadudvari, 2021</p>
								</address>
							</div>
						</footer>
					</div>
				</div>
				<div id="shoe"><div class="overlay"></div></div>
			</div>
		</div>
	</body>
</html>