{% extends 'components/base.html' %}
{% block content %}
<div id="content" class="yui3-g">
	<div id="video-page" class="yui3-u-2-3">
		<h1 class="text-center">{{ video.video_title }}</h1>
		{% if video.video_file %}
			<video height="500" controls>
  				<source src="{{ video.video_file.url }}" type="video/mp4">
			</video>
		{% else %}
			<iframe style="border:1px solid black;" width="100%" height="500" src="{{ video.video_url }}"></iframe>
		{% endif %}
		<p>{{ video.video_description }}</p>

	</div>
</div>
{% endblock %}