<div class="modal fade" id="add_modal_social" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Social</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<form action="{% url 'author:addEditSocial' %}" method="post"  enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name='pk'>
					<input type="text" name="name" class="form-control" placeholder="name" required>
					<br>
					<input type="text" name="title" class="form-control" placeholder="title" required>
					<br>
					<textarea class="form-control" name="url" cols="30" rows="4" placeholder="enter url" required></textarea>
					<br>
					<div class="input-group">
						<span>Icon</span> 
						<input type="file" class="form-control" name="icon"  accept="image/*">
					</div>
					<br>
					<input type="submit" class="btn btn-success">
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function editsocialdata(pk,name,title,url,icon){
		$('input[name=pk]').val(pk);
		$('input[name=name]').val(name);
		$('input[name=title]').val(title);
		$('textarea[name=url]').val(url);
	}
</script>