<div class="modal fade" id="addTaxModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content text-center">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add tax</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					{% csrf_token %}
					<input type="hidden" name="pk">
					<input type="text" class="form-control" name="name" maxlength="50" placeholder="Tax Name" required><br>
					<input type="number" step=".01" class="form-control" name="percentage" placeholder="tax percentage" required><br>
					<textarea name="description" class="form-control" cols="30" rows="4" placeholder="tax description"></textarea><br>
					<input type="submit" class="btn btn-success">
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function edittax(pk,name,percentage, description){
		$('input[name=pk]').val(pk)
		$('input[name=name]').val(name)
		$('input[name=percentage]').val(percentage)
		$('textarea[name=description]').val(description)
	}
</script>