<div class="modal fade" id="shippingmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" class="text-center">
					{% csrf_token %}
					<input type="hidden" name="pk" value="">
					<input type="number" step=".01" name="each" class="form-control mb-4" placeholder="single fee" required>
					<input type="number" step=".01" name="additional" class="form-control mb-4" placeholder="additional fee" required>
					<input type="submit" class="btn btn-success">
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function getshipping(pk,each, additional){
		// =73>KmtSGEJk/(\~
		// JxkM'PtK$*T924uw
		$('input[name=pk]').val(pk)
		$('input[name=each]').val(each)
		$('input[name=additional]').val(additional)
	}
</script>