<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 700px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table border text-center">
					<thead class="table-dark">
						<tr>
							<td></td>
							<td>Billing</td>
							<td>Shipping</td>
						</tr>
					</thead>
					<tr>
						<td>First Name</td>
						<td>{{ order.address.billingFirstname }}</td>
						<td>{{ order.address.shippingFirstname }}</td>
					</tr>
					<tr>
						<td>Last Name</td>
						<td>{{ order.address.billingLastName }}</td>
						<td>{{ order.address.shippingLastName }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{ order.address.billingEmail }}</td>
						<td>{{ order.address.shippingEmail }}</td>
					</tr>
					<tr>
						<td>Company</td>
						<td>{{ order.address.billingCompany }}</td>
						<td>{{ order.address.shippingCompany }}</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>{{ order.address.billingAddress }}</td>
						<td>{{ order.address.shippingAddress }}</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>{{ order.address.billingPhone }}</td>
						<td>{{ order.address.shippingPhone }}</td>
					</tr>
					<tr>
						<td>Fax</td>
						<td>{{ order.address.billingFax }}</td>
						<td>{{ order.address.shippingFax }}</td>
					</tr>
					<tr>
						<td colspan="3">Location</td>
					</tr>
					<tr>
						<td>Country</td>
						<td>{{ order.address.billingLocation.state.country }}</td>
						<td>{{ order.address.shippingLocation.state.country }}</td>
					</tr>
					<tr>
						<td>State</td>
						<td>{{ order.address.billingLocation.state }}</td>
						<td>{{ order.address.shippingLocation.state }}</td>
					</tr>
					<tr>
						<td>city</td>
						<td>{{ order.address.billingLocation.city }}</td>
						<td>{{ order.address.shippingLocation.city }}</td>
					</tr>
					<tr>
						<td>pincode</td>
						<td>{{ order.address.billingLocation.pincode }}</td>
						<td>{{ order.address.shippingLocation.pincode }}</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>{{ order.address.billingAddress }}</td>
						<td>{{ order.address.shippingAddress }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>