<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="modal_message"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<a href="" class="btn btn-danger" id="anchor_delete">Yes</a>
			</div>
		</div>
	</div>
</div>

<script>
	function changemodal(url, message){
		$('#anchor_delete').attr('href',url)
		$('#modal_message').html('Are you sure you want to delete '+message+'?')

	}
</script>