<div class="modal fade" id="videosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add video link</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post"  enctype="multipart/form-data" id="videoform">
					{% csrf_token %}
					<input type="hidden" name="pk">
					<input type="text" class="form-control" name="video_title" maxlength="100" placeholder="Video Title" required><br>
					Video Thumbnail
					<input type="file" class="form-control" name="video_thumbnail"><br>
					<textarea name="video_description" class="form-control" cols="30" rows="4" placeholder="Video description"></textarea><br>
					<textarea name="video_url" class="form-control" cols="30" rows="4" placeholder="Video url"></textarea><br>
					<p>or</p>
					upload file
					<input type="file" name="video_file" class="form-control">
					<br><br>
					<input type="submit" class="btn btn-success">
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function editvideo(formurl,title,description,url){
		$('#videoform').attr('action',formurl)
		$('input[name=video_title]').val(title)
		$('textarea[name=video_description]').val(description)
		$('textarea[name=video_url]').val(url)
		if (title.length < 1){
			$('input[name=video_thumbnail]').attr('required',true)
		}
		else{
			$('input[name=video_thumbnail]').attr('required',false)	
		}
	}
</script>